:root {
    --vertical-caja-pequeña-: 375px;
    --horizontal-caja-pequeña: 500px;
}

body {
    background-color: #60D394;
}

/*Inicio de la parte de Eri - Seccion 1*/

header {
    background-color: #D8574D;
    margin: -8px -8px 0px -8px;
    padding: 5px;
    position: relative;
}

#Logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#Titulo-barra {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}

.Iconos-Sociales {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

#Iconos-Derecha {
    width: 160px;
    position: absolute;
    left: 1060px;
    bottom: 10px;
}

#Menu {
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

#CajaPrincipal {
    position: relative;
}

#Titulo-Principal {
    font-weight: bold;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-transform: uppercase;
    margin: 50px 0px 0px 60px;
    display: block;
    position: relative;
    top: 40px;
}

.Caja-Pequeña {
    width: var(--horizontal-caja-pequeña);
    height: var(--vertical-caja-pequeña-);
    position: relative;
}

#Imagen-Principal {
    width: 700px;
    height: 523px;
    position: relative;
    right: 443px;
    top: 90px;
    border-radius: 5px;
}

#Cajita1 {
    left: 705px;
    bottom: 370px;
    border-radius: 5px;
}

#Caja-Acerca-De {
    left: 500px;
    bottom: 50px;
    background-color: #c9ffcf;
}

#Titulo-En-Cajita {
    font-size: 40px;
    text-transform: uppercase;
    padding: 50px 50px 0 50px;
}

#Texto-CajitaInicial {
    padding: 0 50px 0 50px;
    font-size: 18px;
}

#Boton-CajitaInicial {
    position: relative;
    left: 50px;
    top: 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    background-color: #FFD97D;
    border-radius: 15px;
    cursor: pointer;
    padding: 20px;
    border-color: #60D394;
}

#Boton-CajitaInicial:hover {
    background-color: #c332ca;
    color: white;
}

#Boton-CajitaInicial:active {
    background-color: #ff7514;
    color: white;
}

#Circulo {
    background-color: transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 40px groove #85E58C;
    position: absolute;
    bottom: 205px;
    right: 970px;
}

/* Sección 2 - Eri*/

#Seccion2 {
    background-color: #c6b1c9;
    margin: auto -8px auto -8px;
    padding: 50px;
}

.Imagenes-Galeria {
    width: 280px;
    height: 280px;
    border-radius: 5%;
    margin: 1%;
}

#Galeria {
    height: 620px;
    width: 1231px;
    margin: auto;
}

/* Sección 3 - Eri */

#Seccion3 {
    position: relative;
    height: 700px;
    margin: auto auto 30px auto;
}

#Texto1-Seccion3 {
    height: 100px;
    width: 400px;
    position: relative;
    top: 100px;
    left: 80px;
    font-size: 18px;
}

#Titulo-Pequeño-Seccion3 {
    font-size: 35px;
}

#Img1-Seccion3 {
    width: 622px;
    height: 350px;
    position: relative;
    top: 170px;
    left: 80px;
}

#Texto2-Seccion3 {
    height: 140px;
    width: 450px;
    font-size: 18px;
}

#Img2-Seccion3 {
    width: 350px;
    height: 350px;
    position: relative;
    left: 100px;
    top: 40px;
}

#Parte2-Seccion3 {
    position: relative;
    width: 500px;
    height: 550px;
    left: 750px;
    bottom: 395px;
}

#Titulo-Seccion3-Texto2 {
    font-size: 40px;
}

#Marco {
    width: 610px;
    height: 400px;
    background-color: transparent;
    border: 12px solid #349dff;
    position: absolute;
    left: 620px;
    bottom: 250px;
}

/* Sección 4 - Eri */

#Seccion4 {
    background-color: #c6b1c9;
    height: 700px;
    margin: auto -8px auto -8px;
    padding: 50px;
    font-size: 17px;
    line-height: 25px;
}

#Texto-Seccion4 {
    position: relative;
    margin: 100px auto auto auto;
}

#Seccion4-TituloPrincipal {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 50px;
}

#Linea-Seccion4 {
    background-color: #c332ca;
    width: 380px;
    height: 8px;
}

.Subtitulos {
    font-style: oblique;
}

#Parrafo1 {
    width: 380px;
    height: 320px;
}

#Parrafo2 {
    width: 380px;
    height: 320px;
    position: absolute;
    left: 425px;
    bottom: 20px;
}

#Parrafo3 {
    width: 380px;
    height: 320px;
    position: absolute;
    left: 848px;
    bottom: 20px;
}

#Boton-seccion4 {
    margin-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    background-color: #b5c7b3;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
    width: 240px;
    border-color: #60D394;
}


/*Fin de la parte de Eri*/

/*Inicio de la parte de Patrick*/

.centrar {
    margin: auto;
}

.capitalize {
    text-transform: uppercase;
}

.texto-borde {
    -webkit-text-stroke: 0.7px black;
    color: transparent; 
  }

/*sección 5*/

#parte5 {
    width: 1349px;
    height: 550px;
    margin-left: -8px;
    background-image: url(https://i.ibb.co/g9B046M/fondoparte4-2.png);
    background-size: contain;
}

#cajadetextop5 {
    width: 1000px;
    height: 150px;
    position: relative;
    top: 375px;
    margin: auto;
    opacity: 0.9;
}

#lado-izq {
    width: 300px;
    height: 150px;
    float: left;
    background-color: #c332ca;
}

#titulo-lado-izq {
    font-size: 27px;
    text-align: center;
    letter-spacing: -1px;
    margin: 40px;
}

#lado-der {
    width: 700px;
    height: 150px;
    float: right;
    background-color: white;
}

#texto-lado-der {
    font-size: 20px;
    text-align: left;
    margin: 35px 20px;
}

/*fin sección 5*/

/*sección 6*/

#parte6 {
    width: 1349px;
    height: 750px;
    margin-left: -8px;
    background-color: #60D394;
}

#titulo-p6 {
    margin: 20px 0px 0px 60px;
    font-size: 40px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
}

#cajacontenedorap6 {
    width: 1250px;
    height: 600px;
    opacity: 0.9;
    position: relative;
    left: 55px;
}

.grupo-de-cajas {
    width: 575px;
    height: 165px;
    float: left;
    margin: 20px;
    background-color: #c9ffcf
}

.texto-p6 {
    margin: -20px 20px 20px 60px;
    font-family: 'Abyssinica SIL', serif;
    text-align: left;
    font-size: 20px;
    text-transform: capitalize;
}

.tildes {
    position: relative;
    top: 20px;
    left: 10px;
    width: 40px;
    height: 40px;
}

/*fin sección 6*/

/*sección 7*/

#parte7 {
    width: 1349px;
    height: 1200px;
    background: repeating-linear-gradient(#c6b1c9 0px 500px, 
    #85E58C 500px 700px, 
    #c6b1c9 700px 1200px);
    margin-left: -8px;
}

#caja-principal-p7 {
    width: 970px;
    height: 1035px;
    position: relative;
    left: 175px;
    top: 100px;
}

#cajap7-1 {
    width: 290px;
    height: 380px;
    background-size: cover;
    background-image: url("https://i.ibb.co/bLtbqHV/fondo-parte7-1.jpg");
    opacity: 0.9;
    position: relative;
    top: 60px;
    border-radius: 5px;
}

#boton-p7 {
    background-color: #c6b1c9;
    color: white;
    border-color: white;
    font-size: 20px;
    padding: 12px 40px 12px 40px;
    border-radius: 15px;
}

#boton-p7:hover {
    background-color: #c795ce;
    padding: 14px 42px 14px 42px;
}

#boton-p7:active {
    background-color: #b9b3b9;
    padding: 10px 38px 10px 38px;
}

#cajap7-2 {
    width: 640px;
    height: 350px;
    position: relative;
    bottom: 400px;
    left: 330px;
    font-size: 20px;
    color: #ffffff;
}

#titulo-cajap7-2 {
    font-family: 'Lato', sans-serif;
}

#cajap7-3 {
    width: 640px;
    height: 460px;
    background-size: cover;
    background-image: url("https://i.ibb.co/LgWTFms/fondo-parte7-3.jpg");
    position: relative;
    bottom: 520px;
    left: 330px;
    border-radius: 5px;    
}

#cajap7-4 {
    width: 280px;
    height: 360px;
    background-size: cover;
    background-image: url("https://i.ibb.co/3p6sv4G/fondo-parte7-4.jpg");
    position: relative;
    bottom: 650px;
    border-radius: 5px;
}

#cajap7-5 {
    width: 350px;
    height: 320px;
    background-size: cover;
    background-image: url("https://i.ibb.co/sW4FLvN/fondo-parte7-5.png");
    position: relative;
    bottom: 860px;
    left: 330px;
    border-radius: 5px;
}

#cajap7-6 {
    width: 220px;
    height: 250px;
    text-align: center;
    font-size: 17px;
    position: relative;
    bottom: 1170px;
    left: 720px;
    color: #ffffff;
}

.iconos-part7 {
    width: 45px;
    height: 45px;
    margin: 3px;
}

/*fin sección 7*/
/*sección 8*/

#parte8 {
    width: 1349px;
    height: 750px;
    margin: -20px 0px 0px -8px;
    background-color: black;
}

#caja-principal-p8 {
    width: 1349px;
    height: 750px;
}

#lado-izq-p8 {
    float: left;
    width: 674.5px;
    height: 750px;
    background-size:cover;
    background-image: url("https://i.ibb.co/1XZnXyj/Fondo-izq-parte8.png");
}

#lado-der-p8 {
    float: right;
    width: 674.5px;
    height: 750px;
    background-size:cover;
    background-image: url("https://i.ibb.co/dLDQbHQ/Fondo-der-parte8.png");
}

#titulo-p8 {
    margin: 55px 50px 10px 50px;
    font-size: 35px;
    color: white;
    font-family: 'Lato', sans-serif;
}

#input1-p8 {
    padding: 14px 395px 14px 5px;
    margin: 20px 50px 10px 50px;
    border-radius: 5px;
}

#input2-p8 {
    padding: 14px 395px 14px 5px;
    margin: 10px 50px 10px 50px;
    border-radius: 5px;
}

#input3-p8 {
    padding: 14px 395px 110px 5px;
    margin: 10px 50px 10px 50px;
    border-radius: 5px;
}

#boton-p8 {
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    margin: 10px 50px 10px 50px;
    border-radius: 10px;
    background-color: white;
}

#boton-p8:hover {
    background-color: rgba(255, 255, 255, 0.171);
}

#boton-p8:active {
    background-color: gray;
}

#titulo2-p8 {
    font-size: 35px;
    margin: 20px 50px 10px 50px;
    color: white;
    font-family: 'Lato', sans-serif;
}

#caja-redes-part8 {
    width: 236px;
    height: 45px;
    margin: 30px 50px 10px 42px;
}

.iconos-part8 {
    width: 35px;
    height: 35px;
    margin: 10px;
}

/*fin sección 8*/

footer {
    background-color: #D8574D;
    padding: 8px 0px 8px 0px;
    margin: 0px -8px -8px -8px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
}
/*Fin de la parte de Patrick*/